@{
    ViewData["Title"] = "About Us";
}

<div style="margin-top: 80px;"> @* Spacer for fixed navbar *@
    <partial name="_AboutSection" />
</div>

@* You can add extra info here that ONLY shows on the full About page, like team members *@